@import url(./node_modules/@fortawesome/fontawesome-free/css/all.min.css);


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  #quote-box {
    background-color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
  }
  
  #text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  #author {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  #new-quote, #tweet , #facebook, #whatsapp {
    padding: 0.5rem 1rem;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #new-quote {
    margin-right: 1rem;
  }
  
  #new-quote:hover, #tweet-quote:hover {
    background-color: #23527c;
  }
  
.actions{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.share{
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.strophe , #text{
  display: inline-block ;
}

.strophe{
  font-weight: bold;
  font-size: xx-large;
}
#whatsapp{
  background-color: green;
}
#author{
  display: flex;
  justify-content:flex-end ;
}

@media (max-width: 991.98px) {
  actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
  }


  #quote-box{
    width: 100%;
  }

  .share{
    justify-content: space-between;
    width: 50%;
  }
}